
<div class="city">
<h3>
  Select City
</h3>
<div >
    <button type="button" class= "button" (click)="getRestaurents(4)" id = "4">Bangalore</button><br>
  <button type="button" class= "button" (click)="getRestaurents(3)" id = "3">Mumbai</button><br>
  <button type="button" class= "button" (click)="getRestaurents(1)" id = "1">Delhi</button><br>
  <button type="button" class= "button" (click)="getRestaurents(7)" id = "7">Chennai</button><br>
  <button type="button" class= "button" (click)="getRestaurents(6)" id = "6">Hyderabad</button><br>
  <button type="button" class= "button" (click)="getRestaurents(5)" id = "5">Pune</button><br>
  <button type="button" class= "button" (click)="getRestaurents(2)" id = "2">Kolkata</button>
</div>
</div>
